<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block titlu %}Document{% endblock titlu %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        {% block header %}
        
        {% endblock header %}
    </head>
    <body>
        <header>
            <nav>
                <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('ceva') }}">Ceva</a>
                <a href="{{ url_for('altceva') }}">Alteva</a>
                <a href="{{ url_for('incaceva', id=3) }}">Inca ceva</a>
            </nav>
        </header>
        <main>{% block content %} {% endblock content %}</main>
    </body>
</html>
